body {
  margin: 0;
  padding: 0;
}

.hero-wrapper {
  background-image: url("images/background-home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.header-bar img {
  margin-top: 30px;
  margin-left: 100px;
  height: 30px;
}

.header-bar nav {
  display: flex;
  font-size: 13px;
  gap: 60px;
  margin-right: 60px;
}

.header-bar nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
